# General
NODE_ENV=development
PORT=3001

# Management Portal
API_URL=http://localhost:3001/api
FRONTEND_URL=http://localhost:3000
LOG_FORMAT=dev
LOG_DIR=../../logs

#JWT
JWT_ACCESS_SECRET=tobemodified

#FIREBASE
FIREBASE_PROJECT_ID=tobemodified
FIREBASE_CLIENT_EMAIL=tobemodified
FIREBASE_PRIVATE_KEY=tobemodified
FIREBASE_DATABASE_URL=tobemodified